.cabecalho__botao {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #00abf0;
    color: white;
    border-radius: 6vh;
    border: none;
    min-width: 6vh;
    height: 6vh;
    cursor: pointer;
    font-size: clamp(1rem, 1.6rem, 1.6vw);
    transition: 0.2s;
}

.cabecalho__botao:hover {
    display: flex;
    background-color: #00abf0;
    padding-inline: 2rem;
    gap: 0.5rem;
}

.cabecalho__botao:hover > .cabecalho__label {
    font-size: clamp(1rem, 1.6rem, 1.6vw);
    transition: 0.4s;
}

.cabecalho__hamburguer {
    font-size: clamp(1rem, 3rem, 3vw);
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s;
    /* display: none; */
}

.cabecalho__hamburguer:hover {
    background-color: transparent;
}

.cabecalho__hamburguer:hover > .cabecalho__icone {
    transition: all 0.2s;
    color: #00abf0;
}

.cabecalho__circulo {
    color: #2B2A2A;
}

.cabecalho__icone {
    color: white;
    font-size: inherit;
}

.cabecalho__label {
    text-transform: uppercase;
    font-size: 0;
    cursor: pointer;
    transition: 0.4s;
}

.navbar__itens {
    display: flex;
    flex-direction: row;
}

.navbar__item {
    position: relative;
    visibility: hidden;
    margin-right: 0.4rem;
    transition: 0.4s;
}

.navbar__espacador {
    width: 6vh;
    min-width: 6vh;
}

@media (max-width: 1300px) and (orientation: portrait) {
    .cabecalho__botao {
        height: 8vw;
        min-width: 8vw;
        align-self: flex-end;
        margin-right: 0;
        margin-top: 0.4rem;
        font-size: clamp(1.6rem, 1.6rem, 1.6vw);
    }

    .cabecalho__hamburguer {
        font-size: clamp(2rem, 3rem, 3vw);
        height: 8vw;
        min-width: 8vw;
    }

    .navbar__itens {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .navbar__item {
        height: 8vw;
        min-width: 8vw;
        align-self: flex-end;
        margin-right: 0;
        margin-top: 0.4rem;
        font-size: clamp(1.6rem, 1.6rem, 1.6vw);
    }

    .navbar__espacador {
        display: none;
        width: 0;
        height: 2vw;
        min-width: 0;
    }

    .navbar__item:hover > .cabecalho__label {
        font-size: clamp(1.6rem, 1.6rem, 1.6vw);
    }
}